/* Sidebar Styling */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(135deg, rgba(62, 182, 252, 0.999), rgb(214, 241, 243));
  background-color: rgb(246, 246, 246);
  padding: 2%;

}

/* Sidebar open state */
.sidebar.open-sidebar {
  transform: translateX(0); /* Slide in */
  opacity: 1; /* Fade in */
  animation: slideIn 0.5s forwards; /* Keyframe animation for opening */
}

/* Sidebar hidden state */
.sidebar.hidden-sidebar {
  transform: translateX(-100%); /* Slide out */
  opacity: 0; /* Fade out */
  animation: slideOut 0.5s backwards; /* Keyframe animation for closing */
}

/* Keyframe animations */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Sidebar Logo and Menu Styling */
.sidebar-logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 40px;
  height: 40px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  transition: 0.5s;
}

.menu-item:hover {
  background-color: #d9e9ff;
}

.menu-text a{
  text-decoration: none;
  color: black;
}
.menu-text {
  margin-left: 10px;
  font-size: 1em;
  padding-bottom: 5px;
}

.menu-icon img {
  width: 24px;
  height: 24px;
}

/* Mobile menu icon */
.mobile-menu-icon {
  position: fixed;
  left: 1%;
  top: 2%;
  z-index: 100;
  cursor: pointer;
}

.menu-item.open{
  border: #333;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  border-color: rgb(0, 162, 255);
}


/* Mobile view adjustments */
@media (max-width: 860px) {
  .sidebar {
    transform: translateX(-100%); /* Initially hidden */
  }

  .sidebar.open {
    transform: translateX(0); /* Slide in when open */
  }

  .sidebar.hidden {
    transform: translateX(-100%); /* Slide out when hidden */
  }

  .mobile-menu-icon {
    position: absolute;
    left: 3%;
    top: 2%;
  }

  .menu-item:hover{
    background: inherit;
  }
}
