.super-form-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    background:linear-gradient(135deg, rgba(165, 234, 236, 0.882),rgba(145, 151, 232, 0.597));
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(118, 115, 115, 0.5); /* Lighter shadow */

}

.user-modification-form-heading{
    font-size: 1.5em;
}

.form-middle-section {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 10px;

}


.form-container label,input,select{
    display: block;
    width: 100%;
}
.form-container label{
    text-align: left;
    margin-left: 2px;
    font-weight: 500;
}

.form-container input,select{
    height: 35px;
    width: 40em;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    background-color: rgba(232, 228, 228, 0.585);
    border: none;
    margin-bottom: 8px;
}

.form-container 
input:focus,
select:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-container button{
    width: 100%;
    color: azure;
    background-color: rgb(0, 123, 255);
    border: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 3px;
    transition: 0.8s;
    cursor: pointer;
    font-size: 1.1em;
}

.hidden{
    display: none;
}

/*<<<<<<<<<<<<<<<<<<Notification>>>>>>>>>>>>>>>>>>>>*/

.my-toast {
    background-color: #ffffff; 
    color: rgb(67, 153, 70); 
}

.my-toast-warning{
    background-color: rgb(184, 80, 80);
    color: rgb(254, 254, 254);
}


button.Toastify__close-button {
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    background-color: transparent !important; /* Ensure background stays transparent */
    border: none; /* Remove any border */
    color: rgb(255, 255, 255); /* Adjust close button color if needed */
}

/* Prevent background change on hover */
button.Toastify__close-button:hover {
    background-color: transparent ; 
    color: rgb(255, 255, 255); 
}




/*<<<<<<<<<<<<<<<<<<<<<<<<Hover Effect>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.form-container button:hover{
    background-color: white;
    color: rgb(0, 162, 255);
}



/*<<<<<<<<<<<<<<<<<<<<<<<<<Mobile>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (max-width:860px) {
    .form-container input,select{
        width: 350px;
    }

    .form-container{
        width: 330px;
        padding: 8%;
        margin-top: 8%;
        
    }

    .form-container input, select{
        height: 30px;
    }

    .form-container label{
        font-size: 15px;
    }
    
    .form-container button:hover{
        color: white;
        background-color: rgb(0, 162, 255);
    }

}

