.dropdown{
    display: block;
    justify-content: center;
    background-color:none;
    width: 200;
}

.dropdown-header{
    background-color: none;

}

.dropdown-middle{
    background:transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease-out;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

}

/* When dropdown is open, let it expand */
.dropdown-middle.dropdown-open {
    max-height: 300px; /* Adjust based on content height */
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-color: rgb(0, 162, 255);
  }

/* Animation for each list item sliding in from the left */
.dropdown-middle ul li {
    opacity: 0;
    transform: translateX(-20px);
    animation: slide-in 0.5s ease forwards;
    animation-delay: calc(0.15s * var(--index)); /* Delay each item */
    list-style-type: none;
    text-align: left;
    line-height: 1.1em;
    padding-bottom: 10px;
  }

/* Define slide-in keyframe animation */
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateX(-20px); /* Slide from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* End in original position */
    }
  }

/*<<<<<<<<<<<<<<<<<<<<<Hover>>>>>>>>>>>>>>>>>>>>>>>>>*/

.dropdown ul li:hover{
    color: rgb(0, 140, 255);
    cursor: pointer;
}



