.gate-management-form-container{
  background:linear-gradient(135deg, rgba(165, 234, 236, 0.882),rgba(145, 151, 232, 0.597));
  padding: 2%;
  border-radius: 10px;
  width: 95%;

}


.gate-management-form-container input{
  background-color: white;
  border: none;
}

.gate-management-form-upper-section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  border-color: azure;
}

.gate-management-form-upper-section button{
  background-color: rgb(6, 122, 238);
  border: none;
  padding: 1%;
  margin-left: 2%;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  width: 8em;
  transition: 0.3s;
}

.gate-management-form-upper-section button:hover{
  cursor: pointer;
  color: rgb(6, 122, 238);
  background-color: aliceblue;

}

.gate-management-form-upper-section .active-button{
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(108, 244, 23, 0.812);
  border-width: 5px;
}



.add-or-delete-gate-management-form-container
input:focus,
select:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-or-delete-gate-management-form-container input,select{
  height: 35px;
  width: 100%;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: rgba(232, 228, 228, 0.585);
  border: none;
  margin-bottom: 8px;
}

.add-or-delete-gate-management-form-container label,input,select{
  display: block;
  width: 100%;
}
.add-or-delete-gate-management-form-container label{
  text-align: left;
  margin-left: 2px;
  font-weight: 500;
}

.delete-button-in-gate-management-form-container,
.add-button-in-gate-management-form-container{
  border: none;
  font-size: 1.2em;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 1.5em;
  background-color:white ;
  transition: 0.8s;
}

.delete-button-in-gate-management-form-container{
  color: red;
}

.add-button-in-gate-management-form-container{
  color: green;
}

.delete-button-in-gate-management-form-container:hover{
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
}

.add-button-in-gate-management-form-container:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}

.gate-management-form-container p{
  font-weight: 300;
  font-size: 1.5em;
}


/*<<<<<<<<<<<<<<<<<<<Mobile>>>>>>>>>>>>>>>>>>>>>>>*/

@media (max-width:860px){
  .gate-management-form-container{
  margin-top: 8%;
  width: 100% !important;
  }

  .gate-management-form-upper-section button:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 122, 238);
  
  }
  .add-or-delete-gate-management-form-container input,select{

    width: 100%;
  }

  .add-button-in-gate-management-form-container:hover{
    background-color:inherit;
    color: inherit;
  }
}