.forgot-password-container .login-signup-box h2{
    font-size: 3em;
}

.resend-btn{
    color: rgb(7, 7, 7);
    background-color: rgba(239, 180, 44, 0.968);
    border: none;
    padding: 0.8%;
    margin: 10px;
    border-radius: 5px;
}

.resend-btn:hover{
    cursor: pointer;
    background-color: rgb(217, 162, 33);
    color: rgb(229, 222, 222);
}