.footer-container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    
}

.footer-details{
    color: white;
    text-align: center;
    width: 100%;
}